# Database
DATABASE_URL="file:./dev.db"

# NextAuth - Generate secret with: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="CHANGE_ME_GENERATE_WITH_openssl_rand_base64_32"

# Default Admin (used in seed only - change before running db:seed)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="CHANGE_ME_USE_STRONG_PASSWORD"
